@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Vidly.ViewModels.CustomerMovieViewModel;

<div>
    @foreach(var customer in Model.Customer)
    {
        <h2>@customer.Name </h2>
        <ul>
           
        @if(customer.BirthDate != null)
        {
            DateTime temp = @customer.BirthDate ?? DateTime.MinValue;
            <li><text>Birthdate : @temp.ToString("dd/MM/yyyy") </text></li>
        }

            <li><p>Subscription : @customer.MembershipType.Name </p></li>
        </ul>
    }
</div>
