@{
    ViewData["Title"] = "Customers List";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
@model Vidly.ViewModels.CustomerMovieViewModel

<div class="text-center">
    <h1 class="display-4">Customers List</h1>

            @if(Model.Customer.Count == 0)
            {
                <text>We Dont Have Customer's Yet</text>
            }
            else
            {
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <!--<th scope="col">Sr No</th>-->
                        <th scope="col">Name</th>
                        <th scope="col"> Membership Name </th>

                    </tr>
                </thead>
                <tbody>
                   @foreach(var customer in Model.Customer)
                    {
                    <tr>
                        <td>@Html.ActionLink(customer.Name , "Details","Customer" ,new {id=customer.Id})</td>
                        <td>@string.Format("{0}{1}",char.ToUpper(customer.MembershipType.Name[0]) ,customer.MembershipType.Name.Substring(1))
                        
                    </tr>
                    }
                </tbody>
            </table>
            }
                
                
              
            
         
        
</div>