@{
    ViewData["Title"] = "Movies List";
}
@model Vidly.ViewModels.CustomerMovieViewModel
<div class="text-center">
    <h1 class="display-4">Movies List</h1>
    @if (Model.Movie.Count == 0)
    {
        <text>No Movies Currently Available </text>
    }
    else
    {
        <table class="table table-bordered">
            <thead>
                <tr>
                    
                    <th scope="col">Name</th>
                    <th scope="col">Genre</th>
                    

                </tr>
            </thead>
            <tbody>
                @foreach (var movie in Model.Movie)
                {
                    <tr>
                        <td><a href="/Movie/Details/@movie.Id">@movie.Name</a></td>
                        <td>@movie.Genre.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>

