@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Model.Movie.Name</h2>
@{
    var popular = Model.Customer.Count > 1 ? "popular" : null;
}
@if(popular == "popular"){<h5> This Movies is Popular and Rented By : </h5>}

@if(Model.Customer.Count == 0)
{
    <text>No One Rented this movie bedore .</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customer)
        {
            <li>
                @customer.Name
            </li>
        }
        
    </ul>
}
